
    <div class="container_my_pizzas">
        <h1 class="my_pizzas_title_saved">My saved pizza</h1>


        <div class="list-group row">
            <div ng-repeat="pizza in pizzas">
                <div data-toggle="collapse" data-target="#{{pizza.id}}" class="cursor list-group-item">
                    <img src="assets/pizza-3.png" alt="Size" class="col-xs-1">
                    <span>
                        <h4 class="list-group-item-heading pizza_name_saved col-xs-offset-2 col-xs-8">{{pizza.name}}
                        </h4>
                        <i class="fa fa-arrow-down fa-2x " aria-hidden="true"></i>
                    </span>

                </div>

                <div  id="{{pizza.id}}" class="collapse">
                    <div class="pizza_details">
                       <span class="size_title_saved">Size:</span> <span class="sizeName_pizza_">{{pizza.sizeName}}</span><br>
                    <span class="ingredients_title_saved">Ingredients : </span><span ng-repeat="ingredient in pizza.ingredients" class="list-group-item-text"> {{ingredient}},</span>
                        <button type="button" class="btn btn-danger btn-lg pull-right">Order it</button><br><br>

                    </div>
                </div>


            </div>
            </div>



    <h1 class="my_pizzas_title_ordered">My ordered pizza</h1>
    <div class="list-group">
        <a href ui-sref="my_pizzas_details" class="list-group-item">
            <span class="badge price_pizza_saved">14$</span>
            <h4 class="list-group-item-heading">Marinara Pizza</h4>
            <p class="list-group-item-text">Peperonni, blue cheese...</p>

        </a>
        <a href ui-sref="my_pizzas_details" class="list-group-item">
            <span class="badge price_pizza_saved">10$</span>
            <h4 class="list-group-item-heading">Carbonara Pizza</h4>
            <p class="list-group-item-text">Carbonara, bacon, creem cheese...</p>
        </a>
        <a href ui-sref="my_pizzas_details" class="list-group-item">
            <span class="badge price_pizza_saved">9$</span>
            <h4 class="list-group-item-heading">Goat Pizza</h4>
            <p class="list-group-item-text">Goat cheese, honey...</p>
        </a>
    </div>


</div>