
    <div class="container_my_pizzas">
        <h1 class="my_pizzas_title_saved">My saved pizza</h1>


        <div class="list-group">
            <div ng-repeat="pizza in pizzas">
                <div data-toggle="collapse" data-target="#{{pizza.id}}" class="list-group-item">
                    <span class="badge price_pizza_saved">14$</span>
                    <h4 class="list-group-item-heading">{{pizza.name}}</h4>

                </div>

                <div  id="{{pizza.id}}" class="collapse">
                    <div class="pizza_details">
                    <span ng-repeat="ingredient in pizza.ingredients" class="list-group-item-text">{{ingredient}} </span>
                    </div>
                </div>


            </div>
            </div>



    <h1 class="my_pizzas_title_ordered">My ordered pizza</h1>
    <div class="list-group">
        <a href ui-sref="my_pizzas_details" class="list-group-item">
            <span class="badge price_pizza_saved">14$</span>
            <h4 class="list-group-item-heading">Marinara Pizza</h4>
            <p class="list-group-item-text">Peperonni, blue cheese...</p>

        </a>
        <a href ui-sref="my_pizzas_details" class="list-group-item">
            <span class="badge price_pizza_saved">10$</span>
            <h4 class="list-group-item-heading">Carbonara Pizza</h4>
            <p class="list-group-item-text">Carbonara, bacon, creem cheese...</p>
        </a>
        <a href ui-sref="my_pizzas_details" class="list-group-item">
            <span class="badge price_pizza_saved">9$</span>
            <h4 class="list-group-item-heading">Goat Pizza</h4>
            <p class="list-group-item-text">Goat cheese, honey...</p>
        </a>
    </div>


</div>