body{
background-image: url("http://reyesnypizza.com/images/background.jpg");
    background-size: 100%;
    background-attachment: fixed;
}

.container{
    background-color:  #f2f2f2;
    opacity: 80%;
    width: 70%;

}

footer{
    background-color:  #404040;
    width: 70%;
    height: 50px;
    margin-left: 15%;
    margin-top: -1%;
    color: darkgrey;
}

#colonne1 {
    text-align: center;
    float: left;
    width: 50%;
}


#centre {
    text-align: center;
    overflow: hidden;
    border-left: 1px solid darkgrey;
    border-right: 1px solid darkgrey;
}

.menu_pizza{
    padding-bottom: 10px;


}
.menu_pizza1{
    margin-left: 5%;

}


#me{
    color:red;
}
#nu{
    color:green;
}
.thumbnail1{
    font-family: Avenir;
    height: 110px;
    width: 180px;
    text-align: center;
    padding-top: 20px;
    font-size: 30px;
    color: #FFFFFF;
    border-radius: 30px;
    background-color: red;
    border-color: #f2f2f2;
}
.thumbnail2{
    font-family: Avenir;
    height: 110px;
    width: 180px;
    text-align: center;
    padding-top: 20px;
    font-size: 30px;
    color: #FFFFFF;
    border-radius: 30px;
    background-color: white;
;
    border-color: #f2f2f2;
}
.thumbnail3{
    font-family: Avenir;
    height: 110px;
    width: 180px;
    text-align: center;
    padding-top: 20px;
    font-size: 30px;
    color: #FFFFFF;
    border-radius: 30px;
    background-color: green;
    border-color: #f2f2f2;
}


.thumbnail:hover{
    background-color: #ff4d4d;

}


.best_rated_pizza{
    border: black;


}
.pizza_header{
    color: red;
}
.stars_header{
    color: #008000;
}
.five_header{
    color: white;
}
.pizza_rated_image{
    width: 180px;
}
.panel_pizza_rated{
    width: 90%;
    height: 30%;
    margin-left: 6%;

}
.stars_rated{
    color: #FFCC00;
}
.size_pizza{
    width: 60%;
}
.label_size{
    font-size: 30px;
    color: red;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;

}

.pizza_description{
    font-style: italic;
}

.pizza_publisher{
    font-style: italic;
    font-size: 10px;
}


.form_pizza_location{
    background-color: #D3D3D3;
    width: 60%;
    margin-left: 20%;
    padding-left: 4%;
    padding-right: 4%;

    border-radius: 20px;
    padding-bottom: 5%;

}
#location_zip{
    width: 40%;
}
#location{
    font-size: 30px;
    color: #006400;
}

.label_sauce{
    font-size: 30px;
    color: green;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;

}
.label_cheese{
    font-size: 30px;
    color: red;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;


}
.label_meat{
    font-size: 30px;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;

}
.label_vegetables{
    font-size: 30px;
    color: green;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;

}
.cheese_pizza{
    width: 30%;
}

.container_create{
    width: 80%;
    margin-left: 15%;

}
.label_dough{
    font-size: 30px;
    color:  #ffffff;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;


}
.dough_pizza{
    width: 60%;
}
.label_vegetables{
    font-size: 30px;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;

}
.price_pizza{
    text-align: center;
}
#price_pizza{
    font-size: 20px;
    color: red;
}
.container_create_pizza{
    width: 80%;
    margin-left: 10%;
}
#exampleInputAmount{
    background-color: white;
    box-shadow: 3px;
    border-color: black;
}
.dollar{
    border-color: black;
}

.container_pizza_profile{
    width: 80%;
    margin-left: 10%;

}



#zip_code_input{
    width: 100px;
}

